@page "/consultaAportes"
@inject AportesBLL aportesBLL
@inject NotificationService notificationService


<PageTitle>Consulta de Aportes</PageTitle>
<div class ="container">
    <div class = "card">
        <head>
            <div class = "card-header">
                <h4>Consulta de Aportes</h4>
            </div>
        </head>

        <body>
            <div class = "card-header">
                <div class ="row">
                    <div class ="col">
                        <label>Desde</label>
                        <InputDate @bind-Value="Desde" class ="form-control"></InputDate>
                    </div>
                    <div class="col">
                        <label>Hasta</label>
                        <InputDate @bind-Value = "Hasta"class = "form-control"></InputDate>
                    </div>
                

                    <div class = "row">
                        <div class ="col">
                            <label>Campo:</label>
                            <InputSelect class="form-select" @bind-Value="opc" aria-placeholder="Campo:">
                                <label>Campo:</label>
                                <option value ="1" selected>Persona</option>
                                <option value="2">Aporte Id</option>
                            </InputSelect>
                        </div>

                        <div class="col">

                            @switch(opc)
                            {
                                case 1:
                                    <label>Filtrar:</label>
                                    <InputText class="form-control" @bind-Value="aporte.Persona"></InputText>
                                    Conteo = 0;
                                    Total =0.0;
                                    break;
                                case 2:
                                    <label>Filtrar:</label>
                                    <InputNumber class ="form-control" @bind-Value="aporte.AporteId"></InputNumber>
                                    Conteo = 0;
                                    Total =0.0;
                                    break;
                            }
                        </div>
                        
                            <div class ="col">
                                <div class ="btn-group">
                                   <button type="submit" class= "btn btn-outline-primary" @onclick ="Buscar"> <i class="oi oi-reload"></i> Buscar</button> 
                                </div>
                            </div>
                    </div>
                </div>
                
            </div>

            <div class="card">
                <div class ="card-body">
                    <table class="table">

                    <thead>
                        <tr>
                            <th>Id Aporte</th>
                            <th>Fecha</th>
                            <th>Persona</th>
                            <th>Observaci&oacute;n</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        
                        @foreach(var aporte in aportes)
                        {
                            <tr>
                                <td>@aporte.AporteId</td>
                                <td>@aporte.Fecha</td>
                                <td>@aporte.Persona</td>
                                <td>@aporte.Observacion</td>
                                <td>@aporte.Monto</td>
                                <td><a href="/registroAportes/@aporte.AporteId"><button type ="button" class ="btn btn-outline-primary"><i class="oi oi-eye" ></i> Ver</button></a></td>
                            </tr>
                            Conteo++;
                            Total += aporte.Monto;
                        }

                        <tr>
                            <td>Conteo: @Conteo</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total: @Total</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </body>
    </div>
</div>

@code
{
    public List<Aportes> aportes {get; set;} = new List<Aportes>();

    public Aportes aporte {get; set;} = new Aportes();
    
    public DateTime Desde {get; set;}

    public DateTime Hasta {get; set;}

    public double? Total = 0.0;
    public int Conteo = 0;

    public short opc = 0;

    protected override void OnInitialized()
    {
        aportes = aportesBLL.GetAportes(i => true);

        Desde = DateTime.Now.AddMonths(-1);
        Hasta = DateTime.Now;
    }

    
    public void Buscar()
    {
        switch(opc)
        {
            case 1:
                if(!string.IsNullOrEmpty(aporte.Persona))
                {
                    aportes = aportesBLL.GetAportes(a => a.Persona.ToLower().Contains(aporte.Persona.ToLower()) && a.Fecha >= Desde.Date && a.Fecha <= Hasta);
                }
                else
                {
                    aportes = aportesBLL.GetAportes(a => a.Fecha >= Desde.Date && a.Fecha <= Hasta);
                }
                break;
            case 2:
                if(aporte.AporteId >= 1)
                {
                    aportes = aportesBLL.GetAportes(a => a.AporteId == aporte.AporteId && a.Fecha >= Desde.Date && a.Fecha <= Hasta);
                }
                else
                {
                    aportes = aportesBLL.GetAportes(a => a.Fecha >= Desde.Date && a.Fecha <= Hasta);
                }
                break;
        }
        Conteo = 0;
        Total = 0.0;
    }

    public void Eliminar(Aportes eliminado)
    {
        if(aportesBLL.Eliminar(eliminado))
        {
            var mensaje = new NotificationMessage
            {
            Severity = NotificationSeverity.Error,
            Summary = "Exito al eliminar",
            Detail = "Se ha eliminado correctamente el aporte",
            Duration = 4_000
            };
        notificationService.Notify(mensaje);
        }
        Conteo = 0;
        Total = 0.0;
        aportes = aportesBLL.GetAportes(a => true);
    }
}